@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap");

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    margin: 0%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #f1f3f6;
    font-family: "Open Sans", "sans-serif" ;
}

#nav {
    position: relative;
    color: whitesmoke;
    position: fixed;
    top: 0px;
    width: 100%;
    padding:10px;
    padding-right: 50px;
    background-color:  rgb(51,47,47);
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    font-family:inherit ;
    padding-left: 30px;
}
.nav-link{
    padding-top: 5px;
    text-align: right;
}
.Nav_element{
    padding-top: 10px;
    color: whitesmoke;
    margin: 0px;
    font-size: 18px;
    padding-right: 15px;
    text-decoration: none !important;
}
#nav a.active {
    color: #2874f0;
}
#nav a:hover {
    color: #2874f0;
}
.slide-div{
    border: 2px solid black;
    height: 600px;
    width: 98%;
    margin: auto;
    margin-top: 70px;
}
.slide {
    /* padding-top: 10px; */
    margin: auto;
    width: 100%
}
.slide img{
    object-fit: fill;
    height: 596px;
}
.nature{
    display: block;
    margin: auto;
}

.heading1{
    color: white;
    padding: 10px 0px 10px 50px;
    background-color:rgb(51, 47, 47);
    font-size: 25px;
    margin-top: 10px;
}
.product-cover, .shoes-cover, .mobile-cover, .laptop-cover{
    margin-top: -9px;
    height: 430px;
    background-color:rgb(51, 47, 47);
}

.product-boxes{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.phones img{
    object-fit: cover;
    height: 500px;
}

.product{
    border-radius: 40px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 20%;
    height: 210px;
    background-color: white;
    padding: 2px;
    background-size: cover;
}

.product:hover, .mobile:hover,.watches:hover,.laptop:hover{
    transition-property:all;
    filter: brightness(80%);
    transition-duration: 0.5s;
}

.product-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(41, 35, 35);
    position: relative;
    opacity: 1;
}

.product-book{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-decoration: none;
    width: 15%;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: 55px; 
    margin-right: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #2874f0;
    border-radius: 4px;
}

.product-book:hover{
    /* color: black;    */
    color: white;
    text-decoration: none !important;
    background-color: #004da0;
}

.s-name{
    bottom: -160px
}
.shoes-1{
    background-image: url("./resources/product 1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.shoes-2{
    background-image: url("./resources/product 2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.shoes-3{
    background-image: url("./resources/product 3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}
.shoes-4{
    background-image: url("./resources/product 4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}

.w{
    width: 20%;
    height: 330px;
}

.w-name{
    bottom: -280px;
    font-size: 20px;
}
.watches-1{
    background-image: url("./resources/product 5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.watches-2{
    background-image: url("./resources/product 6.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.watches-3{
    background-image: url("./resources/product 7.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}
.watches-4{
    background-image: url("./resources/product 8.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}

.m{
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 20%;
    height: 520px;
}
.m-name{
    bottom: -450px;
}
.mobiles-1{
    background-image: url("./resources/product 9.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.mobiles-2{
    background-image: url("./resources/product 10.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.mobiles-3{
    width: 24%;
    background-image: url("./resources/product 11.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}
.mobiles-4{
    background-image: url("./resources/product 12.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}

.l{
    width: 21%;
    height: 250px;
}
.l-name{
    bottom: -220px;
    font-size:15px;
}
.laptop-1{
    background-image: url("./resources/product 13.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.laptop-2{
    background-image: url("./resources/product 14.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.laptop-3{
    width: 24%;
    background-image: url("./resources/product 15.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.laptop-4{
    background-image: url("./resources/product 16.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}

.k{
    width: 20%;
    height: 450px;
}
.k-name{
    font-size:17px;
    bottom: -380px;
}
.kurta-1{
    background-image: url("./resources/product 17.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
.kurta-2{
    background-image: url("./resources/product 18.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}
.kurta-3{
    background-image: url("./resources/product 19.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}
.kurta-4{
    background-image: url("./resources/product 20.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;

}

#footer-sub{
    background-color: #f3f7f8;
    border-top: 1px solid #dbdbdb;
}

#footer-main{
    background-color:  rgb(51,47,47);
}

#footer-sub h5{
    color:#565656;
    margin-top: 25px;
}

#footer-sub ul{
    list-style: none;
    margin-top: 20px;
}

#footer-sub hr{
    margin: 5px;

}

#footer-sub ul li{
margin-left: -38px;
}

#footer-sub a:link {
    text-decoration: none;
    color:#565656;
    font-size: 12px;
}

#footer-sub a:visited {
    text-decoration: none;
    color:#565656;
}


#footer-sub a:hover {
    text-decoration: none;
    color: blue;
}


#footer-sub a:active {
    text-decoration: none;
    color:#565656;
}

.vertical-line{
    border-right: 1px solid #dbdbdb;
    margin: 8px;
    padding: 0px;
}

.glyphicon {
    font-size: 35px;
     color:#6d6c6c;
}

#sub-two{
    margin: 0px;
    padding: 0px;
}

#sub-two .vertical-line h4{
    color:#6d6c6c;
}


#footer-main ul{
    list-style: none;
}

#footer-main ul li{
    float:left;
    text-decoration: none;
    padding-left: 15px;
    margin-top: 17px;
}

#footer-main a:link {
    color:white;
    font-size: 12px;
}

#footer-main a:visited {
    color:white;
}


#footer-main a:hover {
    text-decoration: none;
    color: #00b9f5;
}


#footer-main a:active {
    color:white;
}

.glyphicon-search{
    font-size: 20px;
}

#social-menu{
    float: right;
    margin-right: 60px;
}

#side-padding{
    padding: 0px;
    margin: 0px;
}
.col-md-4{
    text-align: center;
    font-family: "Open Sans", "sans-serif" !important;
    font-size: 20px !important;
}
li{
    font-size: 20px;
}